{% extends 'base.html' %}
{% block title %}Club Members Dashboard - Rotaract Club of RVCE{% endblock %}
{% block content %}
    <div class="container">
        <h2>Achievements</h2>
        <div class="row">
            <div class="col-md-4">
                <div class="achievement-card">
                    <img src="static/ach1.jpeg" alt="Achievement 1">
                    <div class="description">
                        <p>Another achievement unlocked 🤩🤩🤩 We've received an Outstanding Project award from SEARIC in the Literacy and Education Avenue for our event AWAAZ. 🎉🎉🎉</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="achievement-card">
                    <img src="static/ach2.jpeg" alt="Achievement 2">
                    <div class="description">
                        <p>UPTOWN JUNK - Certificate of encouragement</p>
                    </div>
                </div>
            </div>
            <!-- Add more achievement cards as needed -->
        </div>
    </div>
{% endblock %}
