<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Activity Points - Rotaract Club of RVCE</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

</head>
<body>
    <div class="add-container">
        <h2>Add Activity Points</h2>
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="alert-container">
            {% for category, message in messages %}
                <div class="alert alert-{{ category }} alert-dismissible" role="alert">
                {{ message }}
                <span type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
            </div>
        {% endif %}
        {% endwith %}
        <form action="/add_activity_points" method="post">
            <div class="form-group">
                <label for="department">Department:</label>
                <select class="form-control" id="department" name="department" required>
                    <option value="ISE">ISE</option>
                    <option value="CSE">CSE</option>
                    <option value="ECE">ECE</option>
                    <option value="ASE">ASE</option>
                    <option value="CV">CV</option>
                    <option value="ME">ME</option>
                    <option value="ME">BT</option>
                    <option value="ME">CH</option>
                    <option value="ME">EE</option>
                    <option value="ME">EI</option>
                    <option value="ME">IEM</option>
                    <option value="ME">ET</option>
                </select>
            </div>
            <div class="form-group">
                <label for="usn">USN:</label>
                <input type="text" class="form-control" id="usn" name="usn" required>
            </div>
            <div class="form-group">
                <label for="student_name">Student Name:</label>
                <input type="text" class="form-control" id="student_name" name="student_name" required>
            </div>
            <div class="form-group">
                <label for="event_name">Event Name:</label>
                <select class="form-control" id="event_name" name="event_name" >
                    {% for event in events %}
                    <option value="{{ event.name }}">{{ event.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="event_date">Event Date:</label>
                <input type="date" class="form-control" id="event_date" name="event_date" required>
            </div>
            <div class="form-group">
                <label for="points_alloted">Points Alloted:</label>
                <input type="number" class="form-control" id="points_alloted" name="points_alloted" required>
            </div>
            <button type="submit" class="btn btn-dark btn-block">Submit</button>
            <a href="/club_dashboard" class="btn btn-back btn-block">Back</a>

            
        </form>
    </div>

    <script>
        function updateEventDate() {
            const eventSelect = document.getElementById('event_name');
            const selectedOption = eventSelect.options[eventSelect.selectedIndex];
            const eventDate = selectedOption.getAttribute('data-date');

            document.getElementById('event_date').value = eventDate;
        }
    </script>
</body>
</html>
