<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Rotaract Club of RVCE{% endblock %}</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon-16x16.png') }}">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>
    <!-- Header Section -->
    <div class="header">
        <h1>ROTARACT CLUB OF RVCE</h1>
        <img src="{{ url_for('static', filename='LOGO.png') }}" alt="RVCE Logo"> <!-- Updated image path -->
    </div>
    
    <!-- Sidebar Section -->
    {% if session['role'] == 'club_member' %}
    <div class="sidebar">
        <a style="color: black;" href="{{ url_for('club_dashboard') }}" class="btn btn-light" style="padding: 15px 20px; display: block; text-align: center; text-decoration: none; color: white;">
            <strong>{{ session['mail_id'] }}</strong><br>
            Club Member
        </a>
        <a href="/events_permission">Event Permission</a>
        <a href="/add_attendance">Add Attendance</a>
        <a href="/view_attendance">View Attendance</a>
        <a href="/add_activity_points">Add Activity Points</a>
        <a href="/view_activity_points">View Activity Points</a>
        <a href="/contactus">Contact Us</a>
        <a href="/logout" class="btn btn-light mt-3">Logout</a>
    </div>
    

    {% elif session['role'] == 'teacher' %}
    <div class="sidebar">
        <a style="color: black;" href="{{ url_for('club_dashboard') }}" class="btn btn-light" style="padding: 15px 20px; display: block; text-align: center; text-decoration: none; color: white;">
            <strong>{{ session['mail_id'] }}</strong><br>
            Councelor
        </a>
        <a href="/view_attendance">View Attendance</a>
        <a href="/view_activity_points">View Activity Points</a>
        <a href="/teacher_dashboard">Dashboard</a>
        <a href="/contactus">Contact Us</a>
        <a href="/logout" class="btn btn-light mt-3">Logout</a>
    </div>
 
    {% elif session['role'] == 'dean' %}
    <div class="sidebar">
        <a style="color: black;" href="{{ url_for('club_dashboard') }}" class="btn btn-light" style="padding: 15px 20px; display: block; text-align: center; text-decoration: none; color: white;">
            <strong>{{ session['mail_id'] }}</strong><br>
            Dean
        </a>
        <a href="/requests">View Requests</a>
        <a href="/teacher_dashboard">Dashboard</a>
        <a href="/contactus">Contact Us</a>

        <a href="/logout" class="btn btn-light mt-3">Logout</a>
    </div>
  
    {% else %}
    <div class="sidebar">
        <a style="color: black;" href="{{ url_for('register') }}" class="btn btn-light" style="padding: 15px 20px; display: block; text-align: center; text-decoration: none; color: white;">
            <strong>RVCE Rotaract</strong><br>
            Join us today!
        </a>
        <a href="/club_dashboard">Home</a>
        <a href="/achievements">Achievements</a>
        <a href="/contactus">Contact Us</a>
        <a href="/login" class="btn btn-light mt-3">Login</a>
        <a href="/register" class="btn btn-light mt-3">Sign Up!</a>
    </div>
    {% endif %}
    


    <!-- Main Content Area -->
    <div class="content">
        {% block content %}
        <!-- Content from child templates will be injected here -->
        {% endblock %}
    </div>

    <!-- Scripts Section -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        document.querySelector('.dropdown-btn').addEventListener('click', function () {
            var dropdownContainer = document.querySelector('.dropdown-container');
            dropdownContainer.style.display = dropdownContainer.style.display === 'block' ? 'none' : 'block';
        });
    </script>
</body>

</html>
