{% extends 'base.html' %}
{% block title %}Contact Us - Rotaract Club of RVCE{% endblock %}
{% block content %}
    <div class="container">
        <h2 style="color: black;">Contact Us!</h2>
        <p style="color: black;">If you have any questions or inquiries, feel free to reach out to us using the information below:</p>
        
        <h5 style="color: black;">Contact Information:</h5>
        <ul style="color: black;">
            <li><strong>Mobile:</strong> <a href="tel:+919373051310">+91 93730 51310</a></li>
            <li><strong>Email:</strong> <a href="mailto:netanyasingh.is21@rvce.edu.in">netanyasingh.is21@rvce.edu.in</a></li>
            <li><strong>Address:</strong> Rotaract Club of RVCE, RV College of Engineering, Bengaluru, Karnataka, India.</li>
        </ul>

        <p style="color: black;">If you have any questions regarding education or course details, please contact us by calling or e-mailing us and we'll get back to you as soon as possible.</p>
        <p style="color: black;">We look forward to hearing from you.</p>
    </div>
{% endblock %}
